# This file contains python only requirements to be installed with pip
# Python pacakges that cannot be installed with pip (e.g. PyQT4) are not included.
# Usage: pip install -r requirements.txt
#numpy==2.3.3
matplotlib==1.4
shapely==1.7.1
simplejson
rtree
scipy
svg.path==2.1.1
pywin32==228