# This file contains python only requirements to be installed with pip
# Python packages that cannot be installed with pip (e.g. PyQT4) are not included.
# Usage: pip install -r requirements.txt
# Usage: python2 -m pip install -r requirements.txt

matplotlib==1.4
shapely==1.7.1
simplejson
rtree
scipy
svg.path==2.1.1
pywin32==228
cx_freeze==4.3.4